<!DOCTYPE html>
<html lang="en">

<head>


    

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Stop Hiding Bootstrap Toast Automatically Via Data Attributes</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>






    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>


    <script src = "{{url_for('static', filename = 'script/script.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/styles.css')}}">
    



    {%block title%}
    {%if title%}
    <title>Weatherapp - {{title}}</title>
    {%else%}
    <title>Weatherapp</title>
    {%endif%}
    {%endblock%}
</head>



<body>

    {%block header%}

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <i class="fas fa-cloud"></i>
            Weather App &nbsp &nbsp &nbsp &nbsp &nbsp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">

                    <a class="nav-link" href="#"> <i class="fas fa-home"> &nbsp</i>Home <span
                            class="sr-only">(current)</span></a>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        <!-- <i class="far fa-telescope"></i>-->
                        &nbsp
                        Forcast
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Hourly Forcast</a></li>
                        <li><a class="dropdown-item" href="#">Daily Forcast</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>


                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->




                <li class="nav-item">
                    <!-- <a class="nav-link" href="#">Preferences</a> -->
                    <div>

                        <button type="button" class="btn btn-none btn-sm m-1" data-toggle="modal"
                            data-target="#deleteModal"><i class="fas fa-cog"> &nbsp</i>Preferences</button>
                    </div>
                </li>
            </ul>
        </div>


        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h6 class="modal-title" id="deleteModalLabel"><i
                                class="fas fa-thermometer-three-quarters text-medium"></i>&nbsp Select Unit of
                            Measurement</h6>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <!-- <span aria-hidden="true">&times;</span> -->
                        </button>
                    </div>

                    <div class="modal-footer">
                        <form class="modal-form text-small" action="{{url_for('preferences')}}" method="post">
                            <input type="radio" name="options" id="option1" value="metric"> Metric
                            &nbsp&nbsp - Celcius(&#8451) </input><br><br>
                            <input type="radio" name="options" id="option2" value="standard"> Standard
                            &nbsp&nbsp - Kelvin(&#8490)
                            </input><br><br>
                            <input type="radio" name="options" id="option3" value="imperial">
                            Imperial&nbsp&nbsp - Farenheit(&#8457) </input><br>
                            </br><br>
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            <input class="btn btn-primary btn-sm" type="submit" value="Save">
                        </form>
                    </div>

                </div>
            </div>







        </div>


        <div>
            <form class="d-flex" action="{{url_for('index')}}" , method='post'>
                <input class="form-control mr-sm-4 text-small" name='city' type="search"
                    placeholder="Enter your city here" aria-label="Search">
                &nbsp&nbsp
                <button class="btn btn-outline-success my-2 my-sm-0 text-small" type="submit">Search</button>
            </form>

        </div>
    </nav>


    {%endblock%}


    {%block content%}
  
    {%endblock%}
</body>

</html>