<!DOCTYPE html>
<html lang="en">

<head>




    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/styles.css')}}">



    {%block title%}
    {%if title%}
    <title>Weatherapp - {{title}}</title>
    {%else%}
    <title>Weatherapp</title>
    {%endif%}
    {%endblock%}
</head>



<body>

    {%block header%}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand s3" href="/">
            <i class="fas fa-cloud"></i>
            Weather App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('fav_cities')}}">Favorite Cities</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">

                    <button type="button" class="btn btn-none btn-sm m-1" data-toggle="modal"
                        data-target="#deleteModal"><i class="fas fa-cog"> &nbsp</i>Preferences</button>
                </li>
            </ul>
        </div>


        <!-- <li class="nav-item"> -->
        <!-- <a class="nav-link" href="#">Preferences</a> -->

        <!-- </li> -->

        <!-- MODAL FOR PREFERENCES -->

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h6 class="modal-title" id="deleteModalLabel"><i
                                class="fas fa-thermometer-three-quarters text-medium"></i>&nbsp Select Unit of
                            Measurement</h6>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <!-- <span aria-hidden="true">&times;</span> -->
                        </button>
                    </div>

                    <div class="modal-footer">
                        <form class="modal-form text-small" action="{{url_for('preferences')}}" method="post">
                            <input type="radio" name="temp_pref" id="option1" value="metric"> Metric
                            &nbsp&nbsp - Celcius(&#8451) </input><br><br>
                            <input type="radio" name="temp_pref" id="option2" value="standard"> Standard
                            &nbsp&nbsp - Kelvin(&#8490)
                            </input><br><br>
                            <input type="radio" name="temp_pref" id="option3" value="imperial">
                            Imperial&nbsp&nbsp - Farenheit(&#8457) </input><br>
                            </br><br>
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            <input class="btn btn-primary btn-sm" type="submit" value="Save">
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0" action="{{url_for('index')}}" method='post'>
            <input class="form-control mr-sm-2 text-small" name='city' type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Search</button>
        </form>

        <!-- <div class="navbar static-bottom d-flex justify-content-center m-auto">
            <img class="copyright" src="{{url_for('static', filename = 'media/brand_logo/brand_logo.png')}}">
            <p class="text-muted text-small pl-2">Traversal Technologies &copy 2021</p>
        </div> -->
    </nav>



    {%with messages = get_flashed_messages(with_categories = true) %}
    {%if messages%}
    {%for category, message in messages%}
    <div id="hideMeAfter5Seconds"
        class="container d-flex justify-content-center alert alert-{{category}} mt-3 mb-0 p-auto text-wrap"
        style="width:500px;height:35px">
        <p class="text-small p-0 m-0 align-middle "> {{message}}
        </p>
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}

    {%endblock%}


    {%block content%}

    {%endblock%}

    {%block footer%}
    <div class="navbar navbar-static-bottom footer d-flex justify-content-center m-auto">
        <img class="copyright" src="{{url_for('static', filename = 'media/brand_logo/brand_logo.png')}}">
        <p class="text-muted text-small pl-2">Traversal Technologies &copy 2021</p>
    </div>
    {%endblock%}
</body>

</html>