{%extends 'base.html'%}


{%block content%}

<div class="heading display-6 ">Favorite Cities</div>

<div class="container border">

    <div class="row my-4">
        <!-- COLUMN 1 -->

        <h1>{{data}}</h1>

        {%for weather in weather_data %}
        <div class="col-3 my-4">






            <div class="card-body s1">
                <div class="media">
                    <img class="align-self-center mr-3" src="{{weather.icon}}" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">{{weather.city}}</h5>
                        <p>{{weather.temperature}}</p>
                        <p class="mb-0">{{weather.unit}}</p>
                        <p>{{weather.description}}</p>
                    </div>
                </div>
                <!-- This is the body of the card -->
            </div>
        </div>
        {%else%}
        <div class="m-auto text-muted font-weight-light text-center">Your list of favorite cities is currently empty
        </div>
        <div class="d-flex my-5 justify-content-center">
            <a href="{{url_for('add_city')}}" class="btn btn-primary btn-md">Add City</a>
        </div>

        {%endfor%}
    </div>

</div>


{%endblock%}