{%extends 'base.html'%}


{%block content%}

<div class="heading display-6 ">Favorite Cities</div>
{%if weather_data|length%}
<div class="d-flex my-5 justify-content-center">
    <a href="{{url_for('add_city')}}" class="btn btn-primary btn-md">Add City</a>
</div>
{%else%}

{%endif%}

<div class="container border">

    <div class="row my-4">
        <!-- COLUMN 1 -->
        {%for weather in weather_data %}
        <div class="col-3 my-4">

            <div class="card-body border s1">
                <a href="{{url_for('remove_city',city_id = weather.city)}}" type="button"
                    class="close font-weight-bold text-decoration-none p-0 m-0" tdata-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>

                <div class="media">

                    <img class="align-self-center mr-3" src="{{weather.icon}}" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">{{weather.city}}, <small> {{weather.country}}</small></h5>

                        <p class="display-6">{{weather.temperature}}</p>
                        <p class="mb-0">{{weather.unit}}</p>
                        <p class="text-muted">{{weather.description}}</p>
                    </div>
                </div>
                <!-- This is the body of the card -->
            </div>
        </div>
        {%else%}
        <div class="m-auto text-muted font-weight-light text-center">Your list of favorite cities is currently empty
        </div>
        <div class="d-flex my-5 justify-content-center">
            <a href="{{url_for('add_city')}}" class="btn btn-primary btn-md">Add City</a>
        </div>

        {%endfor%}
    </div>

</div>


{%endblock%}