{%extends 'base.html'%}

{%block content%}










<div class="container-parent p-0 my-4 s1 border-rounded-5">
    <div class="row mt-3">

        <div class="col-sm-3">
            <div class="row m-auto">

                <div class="media border bg-white ">
                    <img class="align-self-center mr-3" src="{{weather.icon}}" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">{{weather.city}}, <small> {{weather.country}}</small></h5>

                        <p class="display-6">{{weather.temperature}}</p>
                        <p class="mb-0">{{weather.unit}}</p>
                        <p class="text-muted">{{weather.description}}</p>
                    </div>
                </div>

                <div class="d-flex container p-2 m-0 justify-content-center">
                    <a type="button" href="{{url_for('add_city')}}"
                        class=" align-right btn btn-outline-primary btn-md">Add to
                        Favorite
                        City</a>
                </div>







            </div>


        </div>



        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your Weather Daily Breifng</h5>
                    <p class="card-text">
                        below. This Appication is a one stop shop for all the information you need to have a
                        productive
                        day every day.</p>
                    <p class="card-text">We Provide all the information you need covering weather forcast,
                        exchange rate and your calender events
                        events</p>
                    <a href="{{url_for('download')}}" type="button" class="btn btn-primary btn-sm">Click to learn
                        more</a>




                </div>
            </div>
        </div>


        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <p class="mb-1 text-xlarge text-success font-weight-bold p-0 m-0">Welcome!</p>
                    <p class="card-title mb-3 text-medium text-success">You are currently logged in from
                        {{current_location.city}} ,
                        {{current_location.country}}</p>
                    <hr>
                    <p class="card-text text-muted text-small">Would you like to recieve a daily weather forcast from
                        us? Subscribe
                        below</p>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo">Subscribe</button>


                </div>
            </div>
        </div>
    </div>

</div>




<!-- SUBSCRIBE MODAL FORM -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-medium" id="exampleModalLabel">New Subscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>



            </div>
            <div class="modal-body">
                <form action="{{url_for('subscribe')}}" method='post'>
                    <div class="form-group">
                        <label for="subsciber-name" class="col-form-label text-small"></label>
                        <input type="text" class="form-control text-small" name="subscriber-name"
                            placeholder="e.g John Doe">
                    </div>
                    <div class="form-group">
                        <label for="subscriber-email" class="col-form-label text-small"></label>
                        <input class="form-control text-small" name="subscriber-email"
                            placeholder="e.g johndoe@example.com">
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-sm">Subscribe</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="heading display-6 ">Add Locations</div>
<div class="container border">

    <div class="row my-2">
        <!-- COLUMN 1 -->
        {%for weather in weather_data %}
        <div class="col-3 my-4">
            <div class="card">
                <div class="card-header ">
                    {{weather.city}}, {{weather.country}}
                </div>
                <div class="card-title">This is the title of the</div>
                <span>
                    <div class="d-flex justify-content-end"><img src="{{weather.icon}}"></div>
                    <div class="d-flex justify-content-start">{{weather.temperature}}{{weather.unit}}</div>
                </span>

                <div class="card-body s1">
                    <!-- This is the body of the card -->
                </div>
            </div>

        </div>
        {%endfor%}
    </div>

</div>


<!-- COLUMN 2 -->
<!-- </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header "></div>
                <div class="card-title"></div>
                <div class="card-body"></div>
            </div>
        </div> -->

<!-- COLUMN 3 -->
<!-- <div class="col-3">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-title"></div>
                <div class="card-body"></div>
            </div> -->


<!-- COLUMN 4 -->
<!-- </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-title"></div>
                <div class="card-body"></div>
            </div>
        </div>
    </div> -->

<!-- <div class="row text-large border mx-auto my-2">

        <div class="col-3 bg-primary p-auto">subtitle what happens when the text is too long. lets find out buddy
        </div>
        <div class="col-3 bg-secondary p-auto">subtitle</div>
        <div class="col-3 bg-info pl-1 p-auto">subtitle</div>
        <div class="col-3 bg-warning p-auto">subtitle</div>
    </div>

</div> -->

<!-- <div class="heading display-6 ">Calendar</div>
<div class="container border border-solid">
    <p class="text-primary">Level 1 - Parent Border</p>
    <div class="row border m-auto">
        Level 2
    </div>

    <div class="row border m-auto">


        <div class="col-sm-6 border m-auto">Column 1 level 3</div>
        <div class="col-sm-m-auto">Column 2 level 3</div>
         <div class="col-sm-3 border-solid">Column 3 level 3</div> -->

<!-- </div>


</div> -->


<!-- <div class="heading display-6 ">Understanding Containers and Flex in Bootstrap</div>

<div class="jumbotron">

</div> -->





<!-- <div class=" row"> -->

<!-- <div class="container img">
    <img src="\static\media\great-egret.jpg">

</div> -->
<!-- </div> -->
<!-- 
<div class="heading display-6 ">Containers</div>

<div class="heading display-6 ">Containers</div>
<div class="heading display-6 ">Containers</div>
<div class="heading display-6 ">Containers</div>
<div class="heading display-6 ">Containers</div> -->





{%endblock%}